<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate News NLP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <!-- Header section -->
    <header>
        <!-- Logo -->
        <div class="">
            <img class="Logo" src="https://bucheli-web-personal-portfolio-website.netlify.app/company-logo-5.jpg" alt="logo">
        </div>
        <!-- Navigation menu -->
        <ul class="menu">
            <li><a href="https://bucheli-web-personal-portfolio-website.netlify.app/index.html" target="_blank"><i class="fas fa-home"></i> Portfolio</a></li>
            <li><a href="https://www.linkedin.com/in/andresregaladobucheli/?locale=en_US" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://github.com/ARBUCHELI" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        </ul> 
    </header>

    <main>
        <!-- Input section -->
        <section class="input">
            <h1>Evaluate News with NLP</h1>
            <!-- Form to submit the URL -->
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Enter URL">
                <input id="submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <!-- Results section -->
        <section id="formres">
            <strong id="results-head">Results:</strong>
            <div id="results">
                <p id="agreement"></p>
                <p id="confidence"></p>
                <p id="irony"></p>
                <p id="polarity"></p>
                <p id="subjetivity"></p>
                <p id="text"></p>
                <p id="bad_url"></p>
                <p id="conclusion"></p>
            </div>
        </section>
    </main>

    <!-- Footer section -->
    <footer>
        <p>Bucheli Web Development © 2023</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    <!-- Import the Axios library for making HTTP requests -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>
