/* CSS styles with comments */

/* Base styles for the body element */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #b7d7e8; /* Set the background color to a light blue shade */
  }
  
  /* Main content section styles */
  main {
    flex: 2;
  }
  
  /* Heading styles */
  h1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 130px;
    font-size: 2.5em;
    margin-top: 0.1em;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #6b5b95; /* Set the text color to a purple shade */
    border-radius: 5px;
  }
  
  /* Section styles */
  section {
    max-width: 800px;
    margin: 50px auto;
    color: #bd5734; /* Set the text color to a reddish-brown shade */
  }
  
  /* Styles for the form results section */
  #formres {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
  }
  
  /* Styles for the results heading inside the form results section */
  #results-head {
    color: #034f84; /* Set the heading color to a dark blue shade */
    font-size: 1.5em;
  }
  
  /* Styles for elements with the "wrong" class */
  .wrong {
    border-radius: 3px;
    background-color: #c94c4c; /* Set the background color to a red shade */
    text-align: center;
    padding: 0.7em;
    color: #87bdd8; /* Set the text color to a light blue shade */
    font-size: 1.6em;
  }
  
  /* Styles for elements with the "resultat" class */
  .resultat {
    color: black; /* Set the text color to black */
  }
  