/* This is the style of the main components of the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #b7d7e8;
}

main {
    flex: 2;
}

h1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 130px;
    font-size: 2.5em;
    margin-top: 0.1em;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: #6b5b95;
    border-radius: 5px;
}

section {
    max-width: 800px;
    margin: 50px auto;
    color: #bd5734;
}

#formres {
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.1em;
    #results-head {
        color: #034f84;
        font-size: 1.5em;
    }
}

/* This class is dynamically added in the case of an error */
.wrong {
    border-radius: 3px;
    background-color: #c94c4c;
    text-align: center;
    padding: 0.7em;
    color: #87bdd8;
    font-size: 1.6em;
}

.resultat {
    color: black;
}