/* Form styles */
form {
    border: 1px solid #bd5734;
    border-radius: 5px;
    padding: 40px;
    background-color: #bd5734;
}

/* Input field styles */
input {
    padding: 5px 20px;
    width: 95%;
    line-height: 36px;
    margin: 10px 20px;
    border: 1px solid #bd5734;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.3em;
}

/* Submit button styles */
#submit {
    background-color: #feb236;
    margin-left: 0.6em;
    font-weight: bold;
    color: #034f84;
    border: 1.5px solid #034f84;
    font-size: 2em;
}

/* Hover styles for the submit button */
#submit:hover {
    cursor: pointer;
    color: #feb236;
    background-color: #034f84;
    border: 1.5px solid #feb236;; 
}