/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #034f84;
  border: 1px solid transparent;
  border-radius: 5px;
}

/* Logo styles */
.Logo {
  width: 100px; /* Adjust the width as needed */
  border: 4px solid #bd5734;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* Menu styles */
.menu {
  list-style: none;
  display: flex;
  margin-right: 1em;
}

/* Menu item styles */
.menu li {
  margin-left: 10px; 
}

/* Menu link styles */
.menu a {
  text-decoration: none;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.3em;
}
